/* ****************TODO******************* */
/* install Tachyons */
/*Palette F4F1DE E07A5F 3D405B 81B29A F2CC8F*/
/* ****************TODO******************* */

button {
  cursor: pointer;
  min-width: max-content;
}

.App {
  text-align: center;
  min-height: 100vh;
  min-width: 20em;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center {
  display: flex;
  justify-content: center;
}

.form {
  width: 700px;
}